/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NUM_NAV 1
#define FN_SYMBOLS 2
#define SCROLL 3
#define SNIPE 4

/* Layer-tap keys used by the two inner thumb positions. */

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        // A short scroll pulse for each encoder detent; CW down, CCW up.
        encoder_scroll: encoder_scroll {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <30>;
            bindings = <&msc MOVE_Y(-100)>, <&msc MOVE_Y(100)>;
        };
    };

    // Tap opening bracket, closing bracket, then move the caret between them.
    macros {
        pair_braces: pair_braces {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LBRC &kp RBRC &kp LEFT>;
        };
        pair_brackets: pair_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LBKT &kp RBKT &kp LEFT>;
        };
        pair_angles: pair_angles {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LT &kp GT &kp LEFT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";

            // Imported from keymap-drawer/cornix-edited.html.
            // Binding rows: 0-11, 12-23, 24-37, 38-49.

            bindings = <
&kp ESC              &kp Q                &kp W                &kp E                &kp R                &kp T                &kp Y                &kp U                &kp I                &kp O                &kp P                &kp BSLH
&kp TAB              &kp A                &kp S                &kp D                &kp F                &kp G                &kp H                &kp J                &kp K                &kp L                &kp SEMI             &kp SQT
&kp LEFT_SHIFT       &kp Z                &kp X                &kp C                &kp V                &kp B                &kp CAPSLOCK                &kp C_MUTE                &kp N                &kp M                &kp COMMA            &kp DOT              &kp FSLH             &kp RIGHT_SHIFT
&kp LEFT_CONTROL     &none                &none                &kp LC(LA(DELETE))         &kp LA(SPACE)         &lt NUM_NAV SPACE    &lt FN_SYMBOLS ENTER &kp BACKSPACE        &none                &none                &none                &kp DELETE
            >;

            sensor-bindings = <&encoder_scroll &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        num_nav_layer {
            display-name = "Num/Nav";

            // Left column: unassigned. Z/X/C/V: Ctrl shortcuts.
            // Right digits: 789 / 456 / 0123, with decimal above zero.

            bindings = <
&none            &trans           &trans           &kp UP           &trans           &trans           &trans           &kp N7           &kp N8           &kp N9           &trans           &trans
&none            &trans           &kp LEFT         &kp DOWN         &kp RIGHT        &trans           &kp DOT          &kp N4           &kp N5           &kp N6           &trans           &trans
&none            &kp LC(Z)        &kp LC(X)        &kp LC(C)        &kp LC(V)        &trans           &kp CAPSLOCK            &kp C_MUTE            &kp N0           &kp N1           &kp N2           &kp N3           &trans           &trans
&none            &none            &none            &trans           &trans           &trans           &trans           &trans           &trans           &none            &none            &none
            >;

            sensor-bindings = <&encoder_scroll &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fn_symbols_layer {
            display-name = "Fn/Symbol";

            // Keep left Shift available; F1 is on the base Caps thumb position.
            // Binding rows: 0-11, 12-23, 24-37, 38-49.

            bindings = <
&kp TILDE            &kp EXCL             &kp AT               &kp HASH             &kp DLLR             &kp PRCNT            &kp CARET            &kp AMPS             &kp ASTRK            &kp LPAR             &kp RPAR             &kp GRAVE
&kp BSLH             &pair_braces         &pair_brackets       &pair_angles               &kp MINUS            &kp UNDER            &kp PLUS             &kp EQUAL            &kp GT               &kp RBKT             &kp RBRC             &kp PIPE
&kp LEFT_SHIFT       &kp F2               &kp F3               &kp F4               &kp F5               &kp F6               &kp CAPSLOCK                &kp C_MUTE                &kp F7               &kp F8               &kp F9               &kp F10              &kp F11              &kp F12
&none                &none                &none                &kp F1               &trans               &trans               &trans               &trans               &trans               &none                &none                &none
            >;

            sensor-bindings = <&encoder_scroll &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        scroll_layer {
            display-name = "Scroll";

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp CAPSLOCK  &kp C_MUTE    &trans  &trans  &trans  &trans  &trans  &trans
&none   &none   &none   &trans  &trans  &trans                  &trans  &trans  &trans  &none   &none   &none
            >;

            sensor-bindings = <&encoder_scroll &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        snipe_layer {
            display-name = "Snipe";

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp CAPSLOCK  &kp C_MUTE    &trans  &trans  &trans  &trans  &trans  &trans
&none   &none   &none   &trans  &trans  &trans                  &trans  &trans  &trans  &none   &none   &none
            >;

            sensor-bindings = <&encoder_scroll &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
