/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NUM_NAV 1
#define FN_SYMBOLS 2
#define SCROLL 3
#define SNIPE 4

/* Layer-tap keys used by the two inner thumb positions. */

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <150>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";

            // Imported from keymap-drawer/cornix-edited.html.
            // Binding rows: 0-11, 12-23, 24-37, 38-49.

            bindings = <
&kp ESC              &kp Q                &kp W                &kp E                &kp R                &kp T                &kp Y                &kp U                &kp I                &kp O                &kp P                &kp BSLH
&kp TAB              &kp A                &kp S                &kp D                &kp F                &kp G                &kp H                &kp J                &kp K                &kp L                &kp SEMI             &kp SQT
&kp LEFT_SHIFT       &kp Z                &kp X                &kp C                &kp V                &kp B                &none                &none                &kp N                &kp M                &kp COMMA            &kp DOT              &kp FSLH             &kp RIGHT_SHIFT
&kp LEFT_CONTROL     &none                &none                &kp CAPSLOCK         &kp LEFT_ALT         &lt NUM_NAV SPACE    &lt FN_SYMBOLS ENTER &kp BACKSPACE        &none                &none                &none                &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        num_nav_layer {
            display-name = "Num/Nav";

            // Left column: BT Clear, BT 1, BT 2, BT 3. Z/X/C/V: Ctrl shortcuts.
            // Right digits: 789 / 456 / 0123, with decimal above zero.

            bindings = <
&bt BT_CLR       &trans           &trans           &kp UP           &trans           &trans           &trans           &kp N7           &kp N8           &kp N9           &trans           &trans
&bt BT_SEL 0     &trans           &kp LEFT         &kp DOWN         &kp RIGHT        &trans           &kp DOT          &kp N4           &kp N5           &kp N6           &trans           &trans
&bt BT_SEL 1     &kp LC(Z)        &kp LC(X)        &kp LC(C)        &kp LC(V)        &trans           &none            &none            &kp N0           &kp N1           &kp N2           &kp N3           &trans           &trans
&bt BT_SEL 2     &none            &none            &trans           &trans           &trans           &trans           &trans           &trans           &none            &none            &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        fn_symbols_layer {
            display-name = "Fn/Symbol";

            // Imported from keymap-drawer/cornix-edited.html.
            // Binding rows: 0-11, 12-23, 24-37, 38-49.

            bindings = <
&kp TILDE            &kp EXCL             &kp AT               &kp HASH             &kp DLLR             &kp PRCNT            &kp CARET            &kp AMPS             &kp ASTRK            &kp LPAR             &kp RPAR             &kp GRAVE
&kp BSLH             &kp LBRC             &kp LBKT             &kp LT               &kp MINUS            &kp UNDER            &kp PLUS             &kp EQUAL            &kp GT               &kp RBKT             &kp RBRC             &kp PIPE
&kp F1               &kp F2               &kp F3               &kp F4               &kp F5               &kp F6               &none                &none                &kp F7               &kp F8               &kp F9               &kp F10              &kp F11              &kp F12
&none                &none                &none                &trans               &trans               &trans               &trans               &trans               &trans               &none                &none                &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        scroll_layer {
            display-name = "Scroll";

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none  &none    &trans  &trans  &trans  &trans  &trans  &trans
&none   &none   &none   &trans  &trans  &trans                  &trans  &trans  &trans  &none   &none   &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        snipe_layer {
            display-name = "Snipe";

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none  &none    &trans  &trans  &trans  &trans  &trans  &trans
&none   &none   &none   &trans  &trans  &trans                  &trans  &trans  &trans  &none   &none   &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
